<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to database for movies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"
        >
    </head>
    <body>
        <div class="container text-center">
            <h1>Welcome to movie database</h1>
            <p>please choose one of this otions</p>
            <a href="/addMovie.html"><button class="btn btn-primary">Add Movie to the web</button></a>
            <a href="/addRating.html"><button class="btn btn-primary">Add Rating</button></a>
            <a href="/search.html"><button class="btn btn-primary">search for movie</button></a>
        </div>

    </body>
</html>
